body {
    font-family: "kawashiro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.icon {
    height: 30px;
    width: auto;
}
ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 12px;
    gap: 16px;
    flex-direction: row;
}
a {
    text-decoration: none;
    color: wheat;
    font-weight: 600;
}


.header {
    height: 64px;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 700px;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.left-header, .right-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px
}
.header-logo {
    height: 35px;
    width: auto;
    margin: 0px 16px;
}


.body {
    display: flex;
    flex-direction: column;
    background-image: url(./images/Spirit_Stream_Sect.webp);
}
.main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    background-image: url(./images/Night-Sky-Pan.jpg);
    color: aliceblue;
    align-items: center;
    min-height: 560px;
}
.title {
    font-size: 56px;
    font-weight: 700;
}
.title-text {
    font-size: 18px;
    margin: 32px 0px;
}
.title-box{
    height: 320px;
    width: 560px;
}


.nothing-button {
    background-color: lightseagreen;
    font-size: 16px;
    padding: 8px 16px;
    border:ridge 10px black;
    transition-duration: 0.2s;
    cursor:pointer;
    border-radius: 10px;
}
.nothing-button:hover{
    background-color: white;
    color: lightseagreen;
    border-color: lightseagreen;
}


.portfolio {
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: white;
    color: black;
    flex-wrap: wrap;
}
.portfolio-title{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 40px;
    font-weight: 400;
    padding: 35px;
}
.portfolio-items {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items: center;
    margin: 35px;
    height: 220px;
}
.portfolio-item{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.portfolio-icon{
    border-radius: 25px;
    border: solid black 5px;
    height: 150px;
    width: 150px;
    padding: 30px;
    margin: 10px;
}
.item-title{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
}
.item-desc{
    display: flex;
    font-family: "sunflower";
    width: 260px;
    text-align: center;
}
.portfolio-end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
}


.quote{
    display: flex;
    flex-direction: column;
}


.contact {
    display: flex;
    flex-direction: column;
}


.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.account-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 80px;
    width: 1120px;
    margin: 50px;
    background-color: lightslategray;
    color: white;
    border: solid 5px black;
    border-radius: 25px;
}
.account-button {
    background-color: maroon;
    font-size: 16px;
    padding: 8px 32px;
    border-radius: 15px;
    transition-duration: 0.2s;
    cursor:pointer;
    border: solid 0.15em white;
    font-weight: 700;
}
.account-button:hover{
    background-color: lightseagreen;
    color: maroon;
    
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-top: solid 1px burlywood;
    color: white;
    background-color: black;
}


@font-face {
    font-family: "kawashiro";
    src: url(./kawashiroGothic.ttf);
}
@font-face {
    font-family: "sunflower";
    src: url(./sunflowerHighway.otf);
}